$primary-color: #408080;
$primary-color-dark: #274d4d;
$primary-color-light: #5eafaf;
$accent-color: #ffa7c4;
$accent-color-dark: #ff5b91;
$accent-color-light: #fff4f7;
$background-color: #282b28;
$font-color: #f4f3ee;
